/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /** 
   * colors
   */

  --medium-turquoise: hsl(179, 41%, 63%);
  --viridian-green: hsl(179, 41%, 43%);
  --smoky-black: hsl(0, 0%, 8%);
  --light-gray: hsl(0, 0%, 80%);
  --heat-wave: hsl(26, 99%, 54%);
  --gunmetal: hsl(212, 16%, 16%);
  --white: hsl(0, 0%, 100%);

  /**
   * typography
   */

  --ff-shadows_into_light: 'Shadows Into Light', cursive;
  --ff-montserrat: 'Montserrat', sans-serif;
  
  --fs-1: calc(5rem + 9vw);
  --fs-2: 2.4rem;
  --fs-3: 1.8rem;
  --fs-4: 1.4rem;
  
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;

  /**
   * box shadow
   */

  --shadow: 0px 0px 10px -2px hsla(179, 41%, 63%, 0.5);

  /**
   * border radius
   */

  --radius-circle: 50%;
  --radius-pill: 100px;

  /**
   * transition
   */

  --transition: 0.25s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
button,
ion-icon { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

ion-icon { pointer-events: none; }

html {
  font-family: var(--ff-montserrat);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--gunmetal);
  font-size: 1.6rem;
}

:focus-visible { outline-offset: 4px; }





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

/*-----------------------------------*\
  #PRELOADER
\*-----------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  z-index: 4;
  display: grid;
  place-items: center;
  transition: var(--transition);
}

.preloader.loaded {
  opacity: 0;
  visibility: hidden;
}

.preloader .circle {
  width: 35px;
  height: 35px;
  border: 3px solid var(--light-gray);
  border-top-color: var(--heat-wave);
  border-radius: var(--radius-circle);
  animation: rotate360 .5s linear infinite;
}

@keyframes rotate360 {
  0% { transform: rotate(0); }
  100% { transform: rotate(1turn); }
}


/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  padding-block: 12px;
  box-shadow: var(--shadow);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  position: fixed;
  top: 56px;
  left: -270px;
  width: 100%;
  max-width: 270px;
  height: 100%;
  background-color: var(--white);
  padding-block: 15px;
  box-shadow: var(--shadow);
  visibility: hidden;
  transition: .25s var(--cubic-out);
}

.navbar.active {
  transform: translateX(270px);
  visibility: visible;
  transition-duration: .5s;
}

.navbar-link {
  padding: 20px 15px;
  font-size: var(--fs-4);
  transition: var(--transition);
}

.navbar-link:is(:hover, :focus-visible) {
  color: var(--white);
  background-color: var(--heat-wave);
}

.nav-toggle-btn { font-size: 3.2rem; }

.nav-toggle-btn.active .open,
.nav-toggle-btn .close { display: none; }

.nav-toggle-btn .open,
.nav-toggle-btn.active .close { display: block; }





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

}